
@font-face {
  font-family: "Fira+Sans+Condensed Medium";
  src: url("fonts/FiraSansCondensed-Medium.ttf"); }

html, body {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  background-color: #0b0c09; 
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 56px; 
}

p {
  margin: 0; 
}

.none {
  display: none;
}

button.typical-btn {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.9);
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  background: #0B0C09;
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 43px;
  cursor: pointer; 
}
button.typical-btn.make-an-order {
  max-width: 258px;
  height: 59px; 
}

.creator-pizza {
  justify-content: center;
  margin-bottom: 10px; 
  padding-top: 20px;
}

.creator-pizza-title span {
  color: rgb(255, 149, 0);
}

.creator-pizza h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 51px;
  text-align: center;
  margin: 25px 0px;
}

.creator-pizza .topping-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px; 
}

.creator-pizza .topping-item:last-child {
  margin-bottom: 0; 
}

.creator-pizza .topping-item .container-custom-checkbox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.9);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.creator-pizza .topping-item .container-custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; 
}

.creator-pizza .topping-item .checkmark {
  position: absolute;
  top: -5px;
  height: 30px;
  width: 30px;
  background: #0B0C09;
  border: 2px solid rgba(255, 255, 255, 0.9);
  margin-left: 15px; 
}
.creator-pizza .topping-item .checkmark:after {
  content: "";
  position: absolute;
  display: none; 
}

.creator-pizza .topping-item .container-custom-checkbox input:checked ~ .checkmark:after {
  display: block; 
}

.creator-pizza .topping-item .container-custom-checkbox .checkmark:after {
  left: 6px;
  top: 6px;
  width: 15px;
  height: 15px;
  background-image: url("../img/checked.png");
  background-position: center;
  background-size: 15px 15px;
  background-repeat: no-repeat; 
}

.creator-pizza .creator-pizza-center {
  display: flex;
  justify-content: center; 
}

.creator-pizza .creator-pizza-left {
  display: flex;
  flex-flow: column;
  justify-content: center; 
}

.creator-pizza .creator-pizza-right {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center; 
}

.creator-pizza .creator-pizza-right .container-custom-checkbox {
  padding-left: 40px; 
}

.creator-pizza .creator-pizza-right .checkmark {
  left: 0;
  margin-left: 0;
  margin-right: 15px; 
}

.creator-pizza .current-pizza {
  width: 406px;
  height: 406px;
  position: relative; 
}

.creator-pizza .current-pizza .current-pizza-item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0; 
  display: none;
}

.creator-pizza .current-pizza .current-pizza-item.active {
  display: block;
}
.creator-pizza .current-pizza .current-pizza-item.testo {
  background-image: url("../img/toppings/testo.png"); 
  display: block;
}
.creator-pizza .current-pizza .current-pizza-item.osnova {
  background-image: url("../img/toppings/osnova.png"); 
  display: block;
}
.creator-pizza .current-pizza .current-pizza-item.vetchina {
  background-image: url("../img/toppings/vetchina.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.bekon {
  background-image: url("../img/toppings/bekon.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.kolbasa {
  background-image: url("../img/toppings/kolbasa.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.perec {
  background-image: url("../img/toppings/perec.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.tomat {
  background-image: url("../img/toppings/tomat.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.olives {
  background-image: url("../img/toppings/olives.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.shampinion {
  background-image: url("../img/toppings/shampinion.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.chiken {
  background-image: url("../img/toppings/chiken.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.ananas {
  background-image: url("../img/toppings/ananas.png"); 
}
.creator-pizza .current-pizza .current-pizza-item.mozzarella {
  background-image: url("../img/toppings/mozzarella.png"); 
}

.select-drink-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-left: none;
  border-right: none;
  margin-bottom: 20px; 
}

.select-drink-wrapper .container-fluid {
  height: 100%; 
}
.select-drink-wrapper .container-fluid .row {
  height: 100%; 
}
.select-drink-wrapper .container-fluid .row .col-12 {
  height: 100%; 
}

.select-drink-wrapper .flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-bottom: 10px;
}

.select-drink-wrapper .flex-wrapper .select-drink-item {
  width: 120px;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.select-drink-wrapper .flex-wrapper .select-drink-item:hover {
  border: 2px solid white; 
}
.select-drink-wrapper .flex-wrapper .select-drink-item.active {
  border: 2px solid white; 
}
.select-drink-wrapper .flex-wrapper .select-drink-item img {
  width: 100%;
  height: 100%; 
}

.select-drink-wrapper .flex-wrapper .select-drink-item .volume, .select-drink-wrapper .flex-wrapper .select-drink-item .summa {
  position: absolute;
  bottom: 5px;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.9); 
}

.select-drink-wrapper .flex-wrapper .select-drink-item .volume {
  left: 5px; 
}
.select-drink-wrapper .flex-wrapper .select-drink-item .summa {
  right: 5px; 
}

.option-delivery {
  margin-bottom: 20px; 
}

.option-delivery .option-delivery-right {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.option-delivery .total-amount {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.option-delivery .total-amount .text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.9);
  margin-right: 15px;
}

.option-delivery .total-amount .summa {
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.9); 
}

.modal-window {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-window__content {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.8;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.modal-window__content p {
  margin-top: 10px;
  font-size: 13px;
  color: #000;
}

.modal-window__submit-btn {
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 25px;
  font-size: 12px;
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid #000;
}

.modal-window__submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  transition: all 0.5s ease;
}

@media (max-width: 1024px) {
  .creator-pizza h2 {
    font-size: 30px;
  }
  .select-drink-wrapper .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto; 
  }
}

@media (max-width: 768px) {
  .row {
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .creator-pizza .creator-pizza-center {
    display: none;
  }
  .col-2 {
    margin: 0px 10px;
  }
}

@media (max-width: 480px) {
  .modal-window__content {
    width: 250px;
  } 
}